#root {
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.btn-next {
  font-size: 1.6rem;
  box-shadow: 3px 3px #efefef;
  border: 3px solid #efefef;
  padding: 14px;
  font-weight: 900;
  margin-top: 1rem;
  color: #213547;
  transition: all 0.2s; 
}

.verses {
  background-color: #213547;
  color: #cccfd1;
  border-radius: 12px;
  padding: 6px;
}

.btn-next:active {
  transform: translate(
    3px,
    3px
  ); 
  box-shadow: none; 
}

.week {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.partions {
  border-radius: 22px;
  background-color: rgb(246, 244, 244);
  padding: 1rem 4rem; 
  box-shadow: 2px 2px 5px #cccfd1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
